html, body{ height: 100%; }

body{
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif
}

.top-image{
  height: 100%;
  background-image: url("images/main-image.jpeg");
  background-size: cover;
  background-position: center;
  vertical-align: center;
}

.image-cover{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.top-image h1{
  font-size: 130px;
  color: rgb(128, 232, 111);
  text-align: center;
  margin: 0px auto -10px;
  padding-top: 120px;
}

.top-image p{
  font-size: 32px;
  color: rgb(128, 232, 111);
  text-align: center;
}

#menu-box{
  width: 520px;
  margin: 30px auto;
}

#menu-box p{
  font-size: 25px;
  border-radius: 5px;
  background-color: rgba(128, 232, 111, 0.7);
  margin-top: 15px;
  padding: 8px 0px;
}

#menu-box a{
  text-decoration: none;
  display: block;
  color: #ffffff;
}

#menu-box p:hover{
  background-color: rgba(128, 232, 111, 0.9);
}

#page-title{
  position: fixed;
  z-index: 999;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgb(61, 235, 33);
}

#page-title h1 a{
  color: rgb(61, 235, 33);
  font-size: 35px;
  margin: 22px 100px;
  text-decoration: none;
}

.form-back{
  background-color: #ffffff;
}

.form-description{
  margin: 120px 0px 20px 100px;
}

.form-description p{
  font-size: 16px;
  margin-top: -5px;
}

.form-content h4{
  font-size: 20px;
  padding-top: 40px;
  margin-bottom: 10px;
}

.form-part{
  background-color:  rgb(249, 249, 249);
  padding-left: 115px ;
}

.form-group{
  margin: 15px 0px 0px 0px;
  padding-bottom: 20px;
}

.input{
  width: 50%;
  outline: 0;
}

.input:focus{
  border: 1px solid rgb(61, 235, 33);
}

label{
  font-weight: 400;
  font-size: 13px;
  margin-bottom: -5px;
}

.confirm{
  margin-top: 15px;
}

select{
  background: #ffffff;
  color: rgb(85, 84, 84);
  height: 25px;
}

select:focus{
  outline: 0;
  border: 1px solid rgb(61, 235, 33);
}

option:hover{
  background-color: #ffffff;
}

input[type=button], button{
  color: #ffffff;
  background-color: rgb(85, 84, 84);
  border: none;
  border-radius: 10px;
  padding: 3px 10px 2px 10px;
}

input[type=button]:hover, button:hover{
  color: rgb(61, 235, 33);
  border: 1px solid rgb(61, 235, 33);
}

button{
  font-size: 18px;
  padding: 15px 75px;
}

#map-canvas{
  height: 400px;
  width: 50%;
}

#top-map{
  height: 400px;
  width: 100%;
  margin: 80px 0px 50px 0px;
}

.sidebar{
  margin-left: 100px;
}

.sidebar a{
  text-decoration: none;
  color: #000000;
}

.sidebar ul{
  list-style: none;
}

.sidebar .thai-child-acdn{
  display: none;
}

.sidebar .list-group-item a{
  display: block;
}

.sidebar .list-group-item a:hover{
  cursor: pointer;
}

.sidebar .arrow{
  display: block;
  background-image: url("images/arrow.png");
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 10px;
  margin-top: 5px;
}

.sidebar .change-arrow-button{
  transform: rotate(90deg);
}

.main-part{
  border: 1px solid #000000;
  margin-right: 100px;
}

.main-part img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px
}
